@font-face {
    font-family: 'Circe-Bold';
	src: url('../fonts/Circe-Bold.woff2') format('woff2');
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}

@font-face {
    font-family: 'Circe-ExtraBold';
	src: url('../fonts/Circe-ExtraBold.woff2') format('woff2');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
    font-family: 'Circe-Light';
	src: url('../fonts/Circe-Light.woff2') format('woff2');
	font-display: swap;
	font-weight: 300;
	font-style: normal;
}

@font-face {
    font-family: 'Circe-Regular';
	src: url('../fonts/Circe-Regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}

@font-face {
    font-family: 'Exo2-Regular';
	src: url('../fonts/Exo2-Regular.woff2') format('woff2');
	font-display: swap;
	font-weight: 400;
	font-style: normal;
}